.player_visible {
    display: flex;
}

.player__inner {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: auto;
}

.player__close-btn {
    width: max-content;
    padding: 10px;
    border: none;
    color: white;
    background-color: transparent;
    cursor: pointer;
    font-weight: bold;
}

@media (max-width: 768px) {
    .player__inner {
        width: 80%;
    }

    .player__content {
        width: 100%;
    }
}

